.main-container {
  margin-top: 4.07vw;
  margin-left: 5.09vw;
  display: flex;
  flex-direction: column;
  gap: 6.78vh;

  h1 {
    font-family: "Work Sans";
    font-weight: 500;
    font-size: 24px;
    color: #213f7d;
  }
}
