div.other {
  position: absolute;
}

div.underbusiness {
  display: flex;
  flex-direction: column;
  //gap: 30px;
}

.suits {
  position: absolute;
  left: 30px;
  top: 745px;
}

.sp-1 {
  position: absolute;
  width: 98px;
  height: 19px;
  margin-left: 10px;
  left: 55px;
  top: 748px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}

.products {
  position: absolute;
  left: 30px;
  top: 800px;
}
.sp-2 {
  position: absolute;
  width: 113px;
  height: 19px;
  left: 55px;
  margin-left: 10px;
  top: 799px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}

.sp-3 {
  position: absolute;
  width: 134px;
  height: 19px;
  left: 55px;
  margin-left: 10px;
  top: 848px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}

.sp-4 {
  position: absolute;
  width: 138px;
  height: 19px;
  left: 55px;
  top: 898px;
  margin-left: 10px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}

.sp-5 {
  position: absolute;
  width: 100px;
  height: 19px;
  left: 55px;
  margin-left: 10px;
  top: 948px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}

.sp-6 {
  position: absolute;
  width: 66px;
  height: 19px;
  left: 55px;
  margin-left: 10px;
  top: 999px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}

.sp-7 {
  position: absolute;
  width: 126px;
  height: 19px;
  left: 55px;
  margin-left: 10px;
  top: 1049px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}

.sp-8 {
  position: absolute;
  width: 96px;
  height: 19px;
  left: 55px;
  margin-left: 10px;
  top: 1099px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #213f7d;
}

.sp-9 {
  position: absolute;
  width: 61px;
  height: 19px;
  left: 55px;
  margin-left: 10px;
  top: 1149px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}

div.settings {
  display: flex;
  flex-direction: column;
}

.sett {
  position: absolute;
  width: 60px;
  height: 14px;
  left: 29px;
  top: 1208px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #545f7d;
}
.ss-1 {
  position: absolute;
  width: 93px;
  height: 19px;
  left: 55px;
  margin-left: 10px;
  top: 1262px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}

.ss-2 {
  position: absolute;
  width: 128px;
  height: 19px;
  left: 55px;
  margin-left: 10px;
  top: 1312px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}

.ss-3 {
  position: absolute;
  width: 83px;
  height: 19px;
  left: 55px;
  margin-left: 10px;
  top: 1363px;
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #213f7d;
}
